html, body, #app, .v-application {
  height: 100vh !important;
  min-height: 100vh !important;
  width: 100vw !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.v-container {
  box-sizing: border-box;
}